@{
    ViewData["Title"] = "Home Page";
}


@{
    ViewData["Title"] = "Home Page";
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class=" hero-card p-5 rounded-3 shadow">
                <h1 class="display-4 fw-bold mb-4">EventEase</h1>
                <p class="col-md-8 fs-4">An up-and-coming event management company, coordinates a variety of events across different venues.</a></p>
                <p class=" = lead text-muted mb-5">
                    Plan smart. Book fast. Celebrate with ease.
                </p>
                <div class="d-grid gap-2 d-md-block">
                    <a  asp-controller="Venue" asp-action="Index" class="btn btn-outline-primary btn-lg">
                        Venues
                    </a>
                    
                    <a asp-controller="Event" asp-action="Index" class="btn btn-outline-primary btn-lg">
                        Events
                    </a>

                    <a asp-controller="Booking" asp-action="Index" class="btn btn-outline-primary btn-lg">
                        Bookings
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


