@{
    ViewData["Title"] = "Home Page";
}

<div class="p-5 mb-4 rounded-3 hero-section">
    <div class=" conatiner-fluid py-5">
    <h1 class="display-5 fw-bold hero-title">EventEase</h1>
        <p class ="col-md-8 fs-4">An up-and-coming event management company, coordinates a variety of events across different venues.</a></p>
    </div>
</div>
@{
    ViewData["Title"] = "Home Page";
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class=" hero-card p-5 rounded-3 shadow">
                <h1 class="display-4 fw-bold mb-4">EventEase</h1>
                <p class=" = lead text-muted mb-5">
                    Plan smart. Book fast. Celebrate with ease.
                </p>
        <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-outline-primary btn-lg" type="button">
                Venues
            </button>
                    <button class="btn btn-outline-primary btn-lg" type="button">
                Events
            </button>
                    <button class="btn btn-outline-primary btn-lg" type="button">
                 Bookings
             </button>
        </div>
            </div>
        </div>
    </div>
</div>


